@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>
        Wlcome to Laptop Service Management System
    </h1>

    @Html.ActionLink("Register User", "Register", "Home")
    @Html.ActionLink("List Service center", "ServiceCenter", "Home")
    @Html.ActionLink("Home", "Index", "Home")
</div>

